<% include ../partials/header %>

<form>
  <label for="name">Name</label>
  <input type="text"/>

  <label for="name">Last</label>
  <input type="text"/>

  <label for="name">Email</label>
  <input type="email"/>

  <label for="name">Password</label>
  <input type="password"/>

  <label for="name">Confirm Password</label>
  <input type="password"/>
</form>

<% include ../partials/footer %>
